body{
  background-color: #e1f2fb;
  color: #000839
}

.heading{
    margin-top:5%;
      text-align: center;
      padding: 6% 0 7%;
      margin: auto;
}


span{
  font-weight: bold;
}
.content{
font-family: 'Montserrat', sans-serif;
line-height: 2;
padding: 0 8%;
}

.p_fun{
  color: #ff487e;
  text-align: center;
  font-family: 'Leckerli One', cursive;
  font-size:1.5rem;
  margin-top:38px;
  margin-bottom: 50px;
}

#features{
  padding:5% 10%;
  font-family: 'Montserrat', sans-serif;
}



.feature-box{
  text-align: center;
  padding:5%;
}
.content-box{
  text-align: center;
}

.f-icon{

  color: #005082;
  margin-bottom:5rem;
}
.f-icon:hover{
  color:#fa877f;
}

.feature-box h3{
  color: #005082;
  padding-bottom:8%;
}

#footer{
  background-color: #5246ac;
  margin: 0;
  text-align: center;
  padding:4% 15%;
}

.foot-icon{
  margin: 0 4%;
}
.foot-icon:hover{
  color:#98d6ea;
}

#footer a{
  color:#dddddd;
}
